
{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/pulse/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">    
    </head>
    <body>
        <div class="topnav" id="myTopnav">
            <img class="logo" src="{% static 'logo_white.png' %}" alt="logo">
            <a href="javascript:void(0);" class="icon" onclick="openNav()">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                </svg>              
            </a>
            <a href="/logout">Logout</a>
            <a href="#">Contact</a>
            <a href="#">About</a>
            <a href="#">Browse</a>
        </div>
        <div>
            <div class="search" data-bs-theme="dark">
                <h1 style="font-size: 30px; font-family: 'Montserrat'; font-weight: bold; color: white; margin-bottom: 30px;">Find Your Textbook</h1>
                <form class="d-flex">
                    <select class="form-select" style="width: 20%;" id="university">
                        <option>nyu.edu</option>
                        <option>example.edu</option>
                        <option>example.edu</option>
                    </select>
                    <input autofocus class="bg-dark form-control" style="font-size: 15px; font-family: 'Montserrat';" type="search" placeholder="Title, ISBN, Author, ...">
                    <button class="btn btn-primary" style="width:10%; font-size: 16px; font-family: 'Montserrat';" type="submit"> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
                    </button>
                </form>
            </div>
            <!-- <div class="cards">
                <div class="card text-white bg-dark mb-3" style="min-width: 30%; min-height: 300px; margin-right:5%;">
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <p class="card-text"></p>
                    </div>
                </div>
                <div class="card text-white bg-dark mb-3" style="min-width: 30%; min-height: 300px;">
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <p class="card-text"></p>
                    </div>
                </div>
                <div class="card text-white bg-dark mb-3" style="min-width: 30%; min-height: 300px; margin-left:5%;">
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div> -->
        </div>
    </body>
</html>

<script>
    function openNav() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>