{% extends "base.html" %}
    {% block content %}
        <div style="align-content: start;">
            <div class="profile-card">
                    <img class="profile-photo" id="profile-photo" style="object-fit: cover; height: 120px; width: 120px; margin:auto; display: block; clip-path: circle();"  src="{{ user.student.image.url }}" />
                    <div style="position: relative; display: block; margin-top: 5%; margin-bottom: 5%; text-align: center; color: white; font-size: 14px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">{{ user.student.first_name }}<br/>{{ user.student.last_name }}</div>
                    <div style="position: relative; display: block; margin: 2%; text-align: center; color: #eee6f3; font-size: 12px; font-family: Montserrat; font-weight: 500; word-wrap: break-word">{{ user.student.email }}</div>
            </div>
            <div class="set-profile"> 
                <h1 class="form-heading">My Profile</h1>
                <div id="profileForm" class="form">
                    <table class="form-input">
                        {% csrf_token %}
                        <tr>
                        <td>
                        <div id="div_id_date_of_birth" class="mb-3"> 
                            <label for="id_date_of_birth" class="form-label">Date of Birth</label> 
                            <input type="text" name="date_of_birth" value="{{ user.student.date_of_birth | date:'m/d/Y' }}" class="textinput form-control" id="id_date_of_birth" disabled> 
                        </div>
                        </td>
                        </tr>
                        <tr>
                            <td>
                            <div id="div_id_phone_number" class="mb-3"> 
                                <label for="id_phone_number" class="form-label">Phone Number</label> 
                                <input type="text" name="phone_number" value="{{ user.student.phone_number }}" class="textinput form-control" id="id_phone_number" disabled> 
                            </div>
                            </td>
                            </tr>
                        <tr><td colspan="2">
                        <div id="div_id_address" class="mb-3"> 
                            <label for="id_address" class="form-label requiredField">Street</label> 
                            <input type="text" name="address" value="{{ user.student.street }}" maxlength="254" class="textinput form-control" id="id_address" disabled> 
                        </div>
                        </td></tr>
                        <tr>
                            <td>
                                <div id="div_id_city" class="mb-3"> 
                                    <label for="id_city" class="form-label requiredField">City</label> 
                                    <input type="text" name="city" value="{{ user.student.city }}" maxlength="20" class="textinput form-control" id="id_city" disabled> 
                                </div>
                            </td>
                            <td>
                                <div id="div_id_state" class="mb-3"> 
                                <label for="id_state" class="form-label requiredField">State</label> 
                                <input type="text" name="state" value="{{ user.student.state }}" maxlength="20" class="textinput form-control" id="id_state" disabled> 
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div id="div_id_zipcode" class="mb-3"> 
                                    <label for="id_zip" class="form-label requiredField">Zipcode</label> 
                                    <input name="zip" value="{{ user.student.zip }}" pattern="[0-9]{5}"class="textinput form-control" id="id_zip" disabled> 
                                </div>
                            </td>
                        </tr>
                        <tr><td>
                        <a id="form-button" href="/user/profile/update" class="btn btn-primary">Edit Info</button>
                        </td></tr>
                    </table>
                    <div class="error-msg form" style="min-height: 30px;">
                        {% for field in form %}
                        <div class="text-danger">
                            {{ field.errors }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock content %}
    {% block script %}
        <script>
            var x = document.getElementById('id_phone_number').value.replace(/\D/g, '').match(/(\d{0,3})(\d{0,3})(\d{0,4})/);
            document.getElementById('id_phone_number').value = !x[2] ? x[1] : '(' + x[1] + ') ' + x[2] + (x[3] ? '-' + x[3] : '');;
        </script>
    {% endblock script %}