{% extends "base.html" %}
    {% block content %}
    <fieldset id="sell-form">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- {{ form }} -->
            <div class="new-post-left">
                <div class="multi-card-left form-input" data-bs-theme="dark" style="color:white;">
                    <label for="id_image" class="form-label">Image</label>
                    <input required class="form-control" style="font-size: 12px;" type="file" name="image" accept="image/*" id="id_image" onchange="loadFile()" />
                    <div id="image_upload" style="cursor:pointer; max-width: 100%; aspect-ratio:1; background-color: unset; display: flex; justify-content: center; align-items: center; border-color: grey; border-width: 1px; border-style: dashed; margin-top: 15px;" onclick="document.getElementById('id_image').click();">
                        <svg id="image_icon" style="position: absolute; margin: 40px" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-image" viewBox="0 0 16 16">
                            <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                            <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1z"/>
                        </svg>
                    </div>
                    <img id="photo-upload" style="object-fit: contain; max-width: 100%; max-height:200px; margin-top: 15px; display:none;"/>
                <br>
                <div id="div_id_condition" class="mb-3"> 
                    <label for="id_condition" class="form-label">Condition</label> 
                    <select required name="condition" value="{{ textbook_copy_form.data.condition }}" style="font-size: 12px;" class="form-select" id="id_condition">
                        {% if textbook_copy_form.data.condition is not None %}
                        <option value="{{ textbook_copy_form.data.condition }}" selected hidden>{{ textbook_copy_form.data.condition }}</option>
                        {% else %}
                        <option value="" selected hidden>------</option>
                        {% endif %}
                        <option value="NEW">New</option>
                        <option value="FINE">Fine</option>
                        <option value="VERY_GOOD">Very Good</option>
                        <option value="GOOD">Good</option>
                        <option value="FAIR">Fair</option>
                        <option value="POOR">Poor</option>
                    </select>
                </div>
            </div>
            {{ course_formset.management_form }}
            <div id="id_course_formset" class="multi-card-left form-input" data-bs-theme="dark" style="color:white">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <label class="form-label">Courses</label>
                    <span class="text-secondary mb-2" style="cursor: pointer; width: 100%; display: flex; align-items: center; justify-content: flex-end;" onclick="addCourseForm()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
                        </svg>
                        <small style="margin-left: 4px;"><b>Add Course</b></small>
                    </span>
                </div>
                {% for form in course_formset %}
                <div class="course-form">
                    <input required type="text" name="{{ form.prefix }}-course_number" placeholder="Course Number" value="{{ form.data.course_number }}" maxlength="100" class="textinput form-control" id="{{ form.prefix }}-course_number">
                    <input required type="text" name="{{ form.prefix }}-name" placeholder="Name" value="{{ form.data.name }}" maxlength="100" class="textinput form-control" id="{{ form.prefix }}-name">
                    <input required type="text" name="{{ form.prefix }}-description" placeholder="Description" value="{{ form.data.description }}" maxlength="100" class="textinput form-control" id="{{ form.prefix }}-description">
                    <span class="remove-course-button btn btn-outline-danger form-button mb-3" style="height:30px; width:100%; display: none; margin:2px;" onclick="removeCourseForm(this)">Remove</span>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="new-post-form"> 
            <h1 class="form-heading">New Post</h1>
            <div class="form" >
                <div class="form-input" name="formOptions">
                    <input style="margin-bottom:20px;" class="form-check-input" type="checkbox" name="for_sale" id="id_for_sale" checked="">
                    <label class="form-check-label" for="id_for_sale">Sell</label>
                    <input style="margin-left:20px;" class="form-check-input" type="checkbox" name="for_rent" id="id_for_rent" checked="">
                    <label class="form-check-label" for="for_rent">Rent</label>
                    <small class="text-secondary" id="checkbox-warning" style="margin-left:20px; display: none;"> You must choose at least one option. </small>
                </div>
                <input hidden value="document.getElementById('course').value" id="id_course" name="course" >
                <div class="form-group">
                    <table class="form-input" >
                        <tr>
                            <td colspan="2">
                                <div id="div_id_isbn" class="mb-3"> 
                                    <label for="id_isbn" class="form-label">ISBN</label> 
                                    <input required type="text" name="isbn" pattern="[0-9]{13}" value="{{textbook_form.data.isbn}}" maxlength="100" class="textinput form-control" id="id_isbn"> 
                                </div>
                            </td>
                            <td>
                                <li style="margin-top: 10px;height: 30px; width: 100%;"class="btn btn-outline-secondary form-button">Search ISBN</li>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div id="div_id_title" class="mb-3"> 
                                    <label for="id_title" class="form-label">Title</label> 
                                    <input required type="text" name="title" value="{{textbook_form.data.title}}" maxlength="255" class="textinput form-control" id="id_title"> 
                                </div>
                            </td>
                            <td>
                                <div id="div_id_edition" class="mb-3"> 
                                    <label for="id_edition" class="form-label">Edition</label> 
                                    <input required type="number" name="edition" max="100" value="{{textbook_form.data.edition}}" maxlength="100" class="textinput form-control" id="id_edition"> 
                                </div>
                            </td>
                        </tr>
                        </table>
                        {{ author_formset.management_form }}
                        <table id="id_author_formset" class="form-input mb-3">
                            <tr>
                                <td>
                                    <label class="form-label">Authors</label>
                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                    <span class="text-secondary form-button" style="cursor: pointer; display: flex; align-items: center; justify-content: flex-end;" onclick="addAuthorForm()">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
                                        </svg>
                                        <small style="margin-left: 4px;">Add Author</small>
                                    </span>
                                </td>
                            </tr>
                            {% for form in author_formset %}
                                <tr class="author-form">
                                    <td style="width:40%;">
                                        <input required ="text" maxlength="100" pattern="[A-Za-z]{1,255}" name="{{ form.prefix }}-first_name" placeholder="First Name" value="{{ form.data.first_name }}" class="textinput form-control" id="{{ form.prefix }}-first_name"> 
                                    </td>
                                    <td style="width:40%;">
                                        <input required type="text" maxlength="100" pattern="[A-Za-z]{1,255}" name="{{ form.prefix }}-last_name" placeholder="Last Name" value="{{ form.data.last_name }}" class="textinput form-control" id="{{ form.prefix }}-last_name"> 
                                    </td>
                                    <td>
                                        <span class="remove-author-button btn btn-outline-danger form-button" style="height:30px; width:100%; display: none;" onclick="removeAuthorForm(this)">Remove</span>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                        <table class="form-input" >
                        <tr>
                            <td>
                                <div id="div_id_sale_price" class="mb-3"> 
                                    <label for="id_sale_price" class="form-label">Sale Price</label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" style="font-size: 11px;">$</span>
                                        <input required type="number" max="500" min="0.01" step="0.01" name="sale_price" value="{{textbook_copy_form.data.sale_price}}" class="textinput form-control" style="padding-left: 24px;"id="id_sale_price"> 
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div id="div_id_rent_price" class="for-rent mb-3"> 
                                    <label for="id_rent_price" class="form-label">Rent Price (Monthly)</label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" style="font-size: 11px;">$</span>
                                        <input required type="number" max="500" min="0.01" step="0.01" name="rent_price" value="{{textbook_copy_form.data.rent_price}}" class="input-for-rent textinput form-control" style="padding-left: 24px;"id="id_rent_price"> 
                                    </div>
                                </div>
                            </td>
                        </tr>
                            <tr>
                            <td>
                                <div id="div_id_avail_from" class="for-rent mb-3"> 
                                    <label for="id_avail_from"  class="form-label">Available From</label>
                                    <input required class="input-for-rent textinput form-control" type="date" name="avail_from" value="{{textbook_copy_form.data.avail_from | date:'Y-m-d' }}"id="id_avail_from">
                                </div>
                            </td>
                            <td>
                                <div id="div_id_avail_to" class="for-rent mb-3"> 
                                    <label for="id_avail_to"  class="form-label">To</label>
                                    <input required class="input-for-rent textinput form-control" type="date" name="avail_to" value="{{textbook_copy_form.data.avail_to | date:'Y-m-d' }}" id="id_avail_to">
                                </div>
                            </td>
                        </tr>

                    </table>
                    <input class="form-control" type="file" name="image" accept="image/*" id="id_image" onchange="loadFile()" style="display: none;"/>
                    <div class="form-input form-group" style="margin-top: 10px;">
                        <button id="submit-button" class="btn btn-primary form-button" type="submit">Create New Post</button>
                    </div>
                    <!-- <div class="error-msg" style="min-height: 30px;">
                        {% for field in form %}
                            {% for e in field.errors %}
                                {% if e != "" %}
                                    <div class="text-danger">
                                    {{ field.label }} - {{ e }} 
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    </form> 
    </fieldset>
    {% endblock content %}
    {% block script %}
    <script>
        var sale_check = document.getElementById('id_for_sale');
        var rent_check = document.getElementById('id_for_rent');

        sale_check.addEventListener('change', function() {
            if (this.checked) {
                document.getElementById('checkbox-warning').style.display= 'none';
                document.getElementById('submit-button').removeAttribute('disabled');

                document.getElementById('div_id_sale_price').style.display = 'block';
                document.getElementById('id_sale_price').setAttribute('required', true);
                document.getElementById('id_sale_price').removeAttribute('disabled');
            } else {
                document.getElementById('div_id_sale_price').style.display = 'none';
                document.getElementById('id_sale_price').removeAttribute('required');
                document.getElementById('id_sale_price').setAttribute('disabled', '');
                // Show error if both checkboxes are unchecked
                if (!rent_check.checked){
                    document.getElementById('checkbox-warning').style.display= 'inline';
                    document.getElementById('submit-button').setAttribute('disabled',true);
                }
            }
        });

        rent_check.addEventListener('change', function() {
            var for_rent = document.getElementsByClassName('for-rent');
            var input_for_rent = document.getElementsByClassName('input-for-rent');
            if (this.checked) {
                document.getElementById('checkbox-warning').style.display= 'none';
                document.getElementById('submit-button').removeAttribute('disabled');

                for (var i = 0; i < for_rent.length; i++){
                    for_rent[i].style.display = 'block';
                    input_for_rent[i].setAttribute('required', true);
                    input_for_rent[i].removeAttribute('disabled');
                }
            } else {
                for (var i = 0; i < for_rent.length; i++){
                    for_rent[i].style.display = 'none';
                    input_for_rent[i].removeAttribute('required');
                    input_for_rent[i].setAttribute('disabled', '');
                }
                // Show error if both checkboxes are unchecked
                if (!sale_check.checked){
                    document.getElementById('checkbox-warning').style.display= 'inline';
                    document.getElementById('submit-button').setAttribute('disabled',true);
                }
            }
        });

        function loadFile() {
            var output = document.getElementById('photo-upload');
            document.getElementById('image_upload').style.display = "none";
            if (event.target.files[0] != undefined){
                output.style.display = "block";
                output.src = URL.createObjectURL(event.target.files[0]);
                output.onload = function() {
                    URL.revokeObjectURL(output.src) // free memory
                }
            } else {
                document.getElementById('image_upload').style.display = "flex";
                output.style.display = "none";
            }
        }
        function deleteImage() {
            document.getElementById('photo-upload').style.display = "none";
            document.getElementById('image_upload').style.display = "flex";
            document.getElementById('image_delete').style.display = "none";
            document.getElementById('id_image').value = null;
        }

        function addAuthorForm() {
            var authorFormset = document.getElementById('id_author_formset');
            var totalFormCountInput = document.getElementById('id_author-TOTAL_FORMS');
            var totalFormCount = parseInt(totalFormCountInput.value);

            var newForm = authorFormset.rows[authorFormset.rows.length - 1].cloneNode(true);

            newForm.querySelectorAll('input').forEach(function(input) {
                var oldName = input.getAttribute('name');
                input.setAttribute('name', oldName.replace('-' + (totalFormCount - 1) + '-', '-' + totalFormCount + '-'));
                var oldId = input.getAttribute('id');
                input.setAttribute('id', oldId.replace('-' + (totalFormCount - 1) + '-', '-' + totalFormCount + '-'));
                input.value = '';
            });

            authorFormset.appendChild(newForm);

            totalFormCountInput.value = totalFormCount + 1;

            toggleRemoveButtons('id_author_formset', '.author-form', '.remove-author-button');
        }

        function removeAuthorForm(button) {
            var currentForm = button.parentNode.parentNode;
            currentForm.parentNode.removeChild(currentForm);

            toggleRemoveButtons('id_author_formset', '.author-form', '.remove-author-button');
        }

        function addCourseForm() {
            var courseFormset = document.getElementById('id_course_formset');
            var totalFormCountInput = document.getElementById('id_course-TOTAL_FORMS');
            var totalFormCount = parseInt(totalFormCountInput.value);

            var newForm = courseFormset.lastElementChild.cloneNode(true);

            newForm.querySelectorAll('input').forEach(function(input) {
                var oldName = input.getAttribute('name');
                input.setAttribute('name', oldName.replace('-' + (totalFormCount - 1) + '-', '-' + totalFormCount + '-'));
                var oldId = input.getAttribute('id');
                input.setAttribute('id', oldId.replace('-' + (totalFormCount - 1) + '-', '-' + totalFormCount + '-'));
                input.value = '';
            });

            courseFormset.appendChild(newForm);

            totalFormCountInput.value = totalFormCount + 1;

            toggleRemoveButtons('id_course_formset', '.course-form', '.remove-course-button');
        }

        function removeCourseForm(button) {
            var currentForm = button.parentNode;
            currentForm.parentNode.removeChild(currentForm);

            toggleRemoveButtons('id_course_formset', '.course-form', '.remove-course-button');
        }

        function toggleRemoveButtons(formsetId, formClass, buttonClass) {
            var formset = document.getElementById(formsetId);
            var forms = formset.querySelectorAll(formClass);
            var removeButtons = formset.querySelectorAll(buttonClass);

            // Only show remove button if there are at least two forms
            if (forms.length > 1) {
                removeButtons.forEach(function(button) {
                    button.style.display = 'inline-block';
                });
            } else {
                removeButtons.forEach(function(button) {
                    button.style.display = 'none';
                });
            }
        }

    </script>
    {% endblock script %}