{% extends "base.html" %}
    {% block content %}
    {% load static %}
    <fieldset id="sell-form">
        <form method="POST" action="" enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="new-post-left">
                <div class="multi-card-left form-input" data-bs-theme="dark" style="color:white;">
                    <label for="id_image" class="form-label">Image</label>
                    <input required class="form-control" style="font-size: 12px;" type="file" name="image" accept="image/*" id="id_image" onchange="loadFile()" />
                    <div id="image_upload" style="cursor:pointer; max-width: 100%; aspect-ratio:1; background-color: unset; display: flex; justify-content: center; align-items: center; border-color: grey; border-width: 1px; border-style: dashed; margin-top: 15px;" onclick="document.getElementById('id_image').click();">
                        <svg id="image_icon" style="position: absolute; margin: 40px" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-image" viewBox="0 0 16 16">
                            <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                            <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1z"/>
                        </svg>
                    </div>
                    <img id="photo-upload" style="object-fit: contain; max-width: 100%; max-height:200px; margin-top: 15px; display:none;"/>
                <br>
                <div id="div_id_condition" class="mb-3"> 
                    <label for="id_condition" class="form-label">Condition</label> 
                    <select required name="condition" value="{{ textbook_copy_form.data.condition }}" style="font-size: 12px;" class="form-select" id="id_condition">
                        {% if textbook_copy_form.data.condition is not None %}
                        <option value="{{ textbook_copy_form.data.condition }}" selected hidden>{{ textbook_copy_form.data.condition }}</option>
                        {% else %}
                        <option value="" selected hidden>------</option>
                        {% endif %}
                        <option value="NEW">New</option>
                        <option value="FINE">Fine</option>
                        <option value="VERY_GOOD">Very Good</option>
                        <option value="GOOD">Good</option>
                        <option value="FAIR">Fair</option>
                        <option value="POOR">Poor</option>
                    </select>
                </div>
            </div>
            {{ course_formset.management_form }}
            <div id="id_course_formset" class="multi-card-left form-input" data-bs-theme="dark" style="color:white">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <label class="form-label">Courses</label>
                    <span class="text-secondary mb-2" style="cursor: pointer; width: 100%; display: flex; align-items: center; justify-content: flex-end;" onclick="addCourseForm()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
                        </svg>
                        <small style="margin-left: 4px;"><b>Add Course</b></small>
                    </span>
                </div>
                {% for form in course_formset %}
                <div class="course-form">
                    <input required type="text" name="{{ form.prefix }}-course_number" placeholder="Course Number" value="{{ form.data.course_number }}" maxlength="100" class="textinput form-control" id="{{ form.prefix }}-course_number">
                    <input required type="text" name="{{ form.prefix }}-name" placeholder="Name" value="{{ form.data.name }}" maxlength="100" class="textinput form-control" id="{{ form.prefix }}-name">
                    <input required type="text" name="{{ form.prefix }}-description" placeholder="Description" value="{{ form.data.description }}" maxlength="100" class="textinput form-control" id="{{ form.prefix }}-description">
                    <span class="remove-course-button btn btn-outline-danger form-button mb-3" style="height:30px; width:100%; display: none; margin:2px;" onclick="removeCourseForm(this)">Remove</span>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="new-post-form"> 
            <h1 class="form-heading">New Post</h1>
            <div class="form" >
                <div class="form-input" name="formOptions">
                    <input style="margin-bottom:20px;" class="form-check-input" type="checkbox" name="for_sale" id="id_for_sale" checked="">
                    <label class="form-check-label" for="id_for_sale">Sell</label>
                    <input style="margin-left:20px;" class="form-check-input" type="checkbox" name="for_rent" id="id_for_rent" checked="">
                    <label class="form-check-label" for="id_for_rent">Rent</label>
                    <small class="text-secondary" id="checkbox-warning" style="margin-left:20px; display: none;"> You must choose at least one option. </small>
                </div>
                <div class="form-group">
                    <table class="form-input" >
                        <tr>
                            <td colspan="2">
                                <div id="div_id_isbn" class="mb-3"> 
                                    <label for="id_isbn" class="form-label">ISBN-13</label> 
                                    <input required type="text" name="isbn" pattern="[0-9]{13}" maxlength="100" class="textinput form-control" id="id_isbn"
                                    {% if textbook_form.isbn.value %} value="{{textbook_form.isbn.value}}" 
                                    {% else %} value="{{textbook_form.data.isbn}}" required 
                                    {% endif %} >
                                </div>
                            </td>
                            <td>
                                <a onclick="searchISBN(this)" id="search_isbn" href="" style="margin-top: 10px;height: 30px; width: 100%;"class="btn btn-outline-secondary form-button">Search ISBN</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div id="div_id_title" class="mb-3"> 
                                    <label for="id_title" class="form-label">Title</label> 
                                    <input type="text" name="title" maxlength="255" class="textinput form-control" id="id_title"
                                    {% if textbook_form.title.value %} value="{{textbook_form.title.value}}"readonly 
                                    {% else %} value="{{textbook_form.data.title}}" required 
                                    {% endif %} >
                                </div>
                            </td>
                            <td>
                                <div id="div_id_edition" class="mb-3"> 
                                    <label for="id_edition" class="form-label">Edition</label> 
                                    <input required type="number" name="edition" max="100" value="{{textbook_form.data.edition}}" maxlength="100" class="textinput form-control" id="id_edition"> 
                                </div>
                            </td>
                        </tr>
                        </table>
                        {{ author_formset.management_form }}
                        <table id="id_author_formset" class="form-input">
                            <tr>
                                <td>
                                    <label class="form-label">Authors</label>
                                </td>
                            </tr>
                            {% for form in author_formset %}
                            <tr class="author-form">
                                <td style="width:40%;">
                                    <input type ="text" maxlength="100" name="{{ form.prefix }}-first_name" placeholder="First Name" class="textinput form-control" id="id_{{ form.prefix }}-first_name" 
                                    {% if form.first_name.value %} value="{{form.first_name.value}}"readonly 
                                    {% else %} value="{{form.data.first_name}}" required 
                                    {% endif %} >
                                </td>
                                <td style="width:40%;">
                                    <input type="text" maxlength="100"  name="{{ form.prefix }}-last_name" placeholder="Last Name" class="textinput form-control" id="id_{{ form.prefix }}-last_name" 
                                    {% if form.first_name.value %} value="{{form.last_name.value}}"readonly 
                                    {% else %} value="{{form.data.last_name}}" required 
                                    {% endif %} >
                                </td>
                                {% if form.first_name.value is None %}
                                <!-- Show when input is not from ISBN -->
                                <td>
                                    <span class="remove-author-button btn btn-outline-danger form-button" style="height:30px; width:100%;" onclick="removeAuthorForm(this)">Remove</span>
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </table>
                        {% if textbook_form.title.value is None %} 
                        <!-- Show when no ISBN search result -->
                        <div class="mb-3">
                            <span class="text-secondary form-button" style="cursor: pointer;" onclick="addAuthorForm()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
                                </svg>
                                <small style="margin-left: 4px;">Add Author</small>
                            </span>
                        </div>
                        {% else %}
                        <!-- Management_form when author input is from Search ISBN -->
                        <input type="hidden" name="author-TOTAL_FORMS" value="{{ author_formset|length }}" id="id_author-TOTAL_FORMS">
                        <input type="hidden" name="author-INITIAL_FORMS" value="{{ author_formset|length }}" id="id_author-INITIAL_FORMS">
                        {% endif %}

                        <table class="form-input mt-3" >
                        <tr>
                            <td>
                                <div id="div_id_sale_price" class="mb-3"> 
                                    <label for="id_sale_price" class="form-label">Sale Price</label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" style="font-size: 11px;">$</span>
                                        <input required type="number" max="500" min="0.01" step="0.01" name="sale_price" value="{{textbook_copy_form.data.sale_price}}" class="textinput form-control" style="padding-left: 24px;"id="id_sale_price"> 
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div id="div_id_rent_price" class="for-rent mb-3"> 
                                    <label for="id_rent_price" class="form-label">Rent Price (Monthly)</label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" style="font-size: 11px;">$</span>
                                        <input required type="number" max="500" min="0.01" step="0.01" name="rent_price" value="{{textbook_copy_form.data.rent_price}}" class="input-for-rent textinput form-control" style="padding-left: 24px;"id="id_rent_price"> 
                                    </div>
                                </div>
                            </td>
                        </tr>
                            <tr>
                            <td>
                                <div id="div_id_avail_from" class="for-rent mb-3"> 
                                    <label for="id_avail_from"  class="form-label">Available From</label>
                                    <input required class="input-for-rent textinput form-control" type="date" name="avail_from" value="{{textbook_copy_form.data.avail_from | date:'Y-m-d' }}"id="id_avail_from">
                                </div>
                            </td>
                            <td>
                                <div id="div_id_avail_to" class="for-rent mb-3"> 
                                    <label for="id_avail_to"  class="form-label">To</label>
                                    <input required class="input-for-rent textinput form-control" type="date" name="avail_to" value="{{textbook_copy_form.data.avail_to | date:'Y-m-d' }}" id="id_avail_to">
                                </div>
                            </td>
                        </tr>

                    </table>
                    <input class="form-control" type="file" name="image" accept="image/*" id="id_image" onchange="loadFile()" style="display: none;"/>
                    <div class="form-input form-group" style="margin-top: 10px;">
                        <button id="submit-button" class="btn btn-primary form-button" type="submit">Create New Post</button>
                    </div>
                    <!-- <div class="error-msg" style="min-height: 30px;">
                        {% for field in form %}
                            {% for e in field.errors %}
                                {% if e != "" %}
                                    <div class="text-danger">
                                    {{ field.label }} - {{ e }} 
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    </form> 
    </fieldset>
    {% endblock content %}
    {% block script %}
    <script src="{% static 'createPost.js' %}"></script> 
    {% endblock script %}