{% extends "base.html" %}
    {% block content %}
    {% load static %}

        <div>
            <div class="search textbook-post" data-bs-theme="dark">
                <div class="textbook-image">
                    <img style="max-height:400px; max-width: 100%;" src="{% static 'test_textbook.JPG' %}" >
                </div>
                <div class="textbook-details">
                    <div style="margin-bottom: 10px;">
                        <h5>{{ textbook.title }}</h5>
                        <small>
                            by {% for author in authors %}
                                {{ author.first_name }} {{ author.last_name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </small>
                        <h4 style="margin: 10px 0px 30px 0px;"><b>${{ listing.sale_price }}</b></h4>
                    </div>
                    <div>
                        <table>
                            <tr>
                                <td class="textbook-detail-label">
                                    <small>ISBN</small>
                                </td>
                                <td>
                                    <small>{{ textbook.isbn }}</small>
                                </td>
                            </tr>
                            <tr>
                                <td class="textbook-detail-label">
                                    <small>Courses</small>
                                </td>
                                <td>
                                    <small>
                                        {% for course in courses %}
                                            {{ course.course_number }}{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </small>
                                </td>
                            </tr>
                            <tr>
                                <td class="textbook-detail-label">
                                    <small>Condition</small>
                                </td>
                                <td>
                                    <small>{{ listing.condition }}</small>
                                </td>
                            </tr>
                            <tr>
                                <td class="textbook-detail-label">
                                    <small>Sold By</small>
                                </td>
                                <td>
                                    <a href="#"><small>{{ seller.first_name }} {{ seller.last_name }}</small></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div style="margin-top:30px;">
                        <button id="form-button" class="btn btn-primary">Contact the Seller</button>
                    </div>
                </div>
                
            </div>
    {% endblock content %}
    {% block script %}

    {% endblock script %}