{% extends "base.html" %}
{% block content %}
{% load static %}
<!-- 
        <div>Title: {{ textbook.title }}</div>
        <div>
            Authors:
            {% for author in authors %}
                {{ author.first_name }} {{ author.last_name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </div>
        <div>
            Courses:
            {% for course in courses %}
                {{ course.course_number }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </div>
        <div>Condition: {{ listing.condition }}</div>
        <div>Sale Price: {{ listing.sale_price }}</div> -->


    

<div>
    <div class="search textbook-post" data-bs-theme="dark">
        <div class="textbook-image">
            <img style="max-height:400px; max-width: 100%;" src="{{ listing.image.url }}" >
        </div>
        <div class="textbook-details">
            <div style="margin-bottom: 10px;">
                <h5>{{ textbook.title }}</h5>
                <small>
                    by {% for author in authors %}
                        {{ author.first_name }} {{ author.last_name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </small>
                
                <h4 style="margin: 10px 0px 30px 0px;"></span><b>${{ listing.sale_price }}</b></h4>
            </div>
            <div>
                <table>
                    <tr>
                        <td class="textbook-detail-label">
                            <small>ISBN</small>
                        </td>
                        <td>
                            <small>{{ textbook.isbn }}</small>
                        </td>
                    </tr>
                    <tr>
                        <td class="textbook-detail-label">
                            <small>Courses</small>
                        </td>
                        <td>
                            <small>
                                {% for course in courses %}
                                    {{ course.course_number }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </small>
                        </td>
                    </tr>
                    <tr>
                        <td class="textbook-detail-label">
                            <small>Condition</small>
                        </td>
                        <td>
                            <small>{{ listing.condition }}</small>
                        </td>
                    </tr>
                </table>
            </div>
            <div style="margin-top:30px;">
                <button id="form-button" class="btn btn-primary">Edit Post</button>
                <button id="form-button" class="btn btn-danger">Delete Post</button>
            </div>
        </div>
        
    </div>
{% endblock content %}
{% block script %}

{% endblock script %}