{% extends "base.html" %}
{% block content %}
<div class="search" data-bs-theme="dark" style="height:620px;">
  <div style="display: flex; justify-content: space-between; margin-bottom: 30px;">
    <h1 style="margin:0; font-size: 30px; font-family: 'Montserrat'; font-weight: bold; color: white;">My Textbooks</h1>
    <a href="{% url 'create-listing' %}" class="btn btn-light" id="form-button" style="display: flex; align-content: center; align-items: center;">
      <svg style="margin-right: 4px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h6a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h6v-5A.5.5 0 0 1 8 2"/>
      </svg>    
      <p style="margin:0; font-size:14px; color:#57068C;">New Post</p>
    </a>
  </div>
  <div style="--bs-body-bg: 0;">
    {% for context in contexts %}
    <div class="list-group" style="overflow-y: auto;">
      <a href="{% url 'get-user-listing' id=context.listing.id %}" style="cursor: pointer;" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <div>
              <h6 class="mb-1">{{ context.textbook.title }}, {{ context.textbook.edition }}{% if context.textbook.edition == 1 %}st
                {% elif context.textbook.edition == 2 %}nd {% elif context.textbook.edition == 3 %}rd 
                {% else %}th{%endif%}Ed. </h6>
              <small class="mb-1">
                by {% for author in context.authors %}
                {{ author.first_name }} {{ author.last_name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
              </small>
            </div>
              <div class="text-muted" style="display: flex; flex-direction: column; align-items: flex-end;">
                <small class="mb-1">{% if context.listing.for_sale %}<span class="badge rounded-pill bg-primary">Sale</span> ${{ context.listing.sale_price }}{% endif %}</small>
                <small>{% if context.listing.for_rent %}<span class="badge rounded-pill bg-secondary">Rent</span> ${{ context.listing.rent_price }} / month{% endif %}</small>
              </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
{% block script %}

{% endblock script %}