{% extends "base.html" %}
{% block content %}
  <div class="search" data-bs-theme="dark" style="height: 650px; display: flex; flex-direction: column;">
    <div style="height:70px; display: flex; justify-content: space-between; padding-bottom:30px; border-bottom: 1px solid rgba(255,255,255,.5); ">
      <h1 style="margin:0; font-size: 30px; font-family: 'Montserrat'; font-weight: bold; color: white;">My Textbooks</h1>
      <a href="{% url 'create-listing' %}" class="btn btn-light" id="form-button" style="display: flex; align-content: center; align-items: center;">
        <svg style="margin-right: 4px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h6a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h6v-5A.5.5 0 0 1 8 2"/>
        </svg>    
        <p style="margin:0; font-size:14px; color:#57068C;">New Post</p>
      </a>
    </div>
    <div style="overflow-y:auto; height: 100%;">
      <div class="list-group">
        {% if contexts|length == 0 %}
        <div class="center" style="display: flex; flex-direction: column; align-items: center;">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-book mb-1" viewBox="0 0 16 16" style="color: white;">
              <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
          </svg>
          <small class="text">No listing found.</small>
        </div>
        {% else %}
        {% for context in contexts %}
            <a href="{% url 'get-user-listing' id=context.listing.id %}" style="cursor:pointer; padding:20px; --bs-list-group-bg:none;" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <div style="color:white;">
                    <h6 class="mb-1">{{ context.textbook.title }}, {{ context.textbook.edition }}{% if context.textbook.edition == 1 %}st
                    {% elif context.textbook.edition == 2 %}nd {% elif context.textbook.edition == 3 %}rd 
                    {% else %}th{%endif%}Ed. </h6>
                    <small class="mb-1">
                    by {% for author in context.authors %}
                    {{ author.first_name }} {{ author.last_name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                    </small>
                </div>
                  <div style="min-width:20%;">
                    <div class="text-muted" style="display: flex; flex-direction: column; align-items: flex-start;">
                      {% if context.listing.for_sale %}
                          <div style="display: flex; align-items: baseline;">
                              <span class="badge rounded-pill bg-primary">Sale</span><h6 class="text"style="margin-left: 5px;"> ${{ context.listing.sale_price }} </h6>
                          </div>
                      {% endif %}
                      {% if context.listing.for_rent %}
                          <div style="display: flex; align-items: baseline;">
                              <span class="badge rounded-pill bg-secondary">Rent</span><h6 class="text" style="margin-left: 5px;"> ${{ context.listing.rent_price }} </h6> <small style="margin-left: 2px; color:white;"> / month</small>
                          </div>
                          {% endif %}
                      </div>
                  </div>
              </div>
            </a>
        {% endfor %}
        <!-- </div> -->
        {% endif %}
      </div>
    </div>

  </div>


{% endblock content %}
{% block script %}

{% endblock script %}