body{
    background-image: url("background.png");
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.window {
    margin:auto;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.25); 
    background-color: white;
    border-radius: 8px;
    position: relative;
}
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.window-photo{
    border-radius: 8px; 
    background-image: url("books.png"); 
    margin: 2%;
    /* <a href="https://www.freepik.com/free-photo/modern-bookstore-showcasing-rows-vibrant-books_84718526.htm#fromView=search&page=1&position=22&uuid=45c3f2d9-97a9-4a79-9d3e-368c1cfffd79">Image by maniacvector on Freepik</a> */
    /* background-color: rgba(255, 255, 255, .3); */
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
}
.logo{
    height: 50px;
    margin-top:10px;
    margin-bottom:10px;
    z-index: 1;
}
.nav-item{
    align-self: center;
}
.dropdown-menu{
    --bs-dropdown-bg:  rgba(0, 0, 0, 0.5);
    /* --bs-dropdown-bg: black; */
    --bs-dropdown-link-hover-bg: unset;
    /* border: 0; */
}
.profile-section{
    float: right;
    vertical-align: middle;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 70px;
}
.profile-photo{
    display: block; 
    width:30px;
    height:30px;
    margin: 0px 5px 0px 0px;
}
.profile-section .name{
    margin: auto 10px auto 10px;
}
.nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.window-form {
    top: 0px; 
    background: white; 
    border-top-right-radius: 8px; 
    border-bottom-right-radius: 8px;
    position: relative;
}
.form-heading {
    font-size: 20px; 
    padding-left:50px; 
    padding-top:50px; 
    padding-bottom:20px; 
    font-family: 'Montserrat'; 
    font-weight: 700;
}
.form{
    margin-left: 50px;
    margin-right: 50px;
}
.form-input{
    font-size: 12px;
    font-family: 'Montserrat';
    width: 100%; 
}
#form-button {
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: bold;
    border-radius: 8px;
}
.gmail{
    height: 12px;
    margin: 3px;
}
#gmail-button {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    font-size: 12px;
    font-family: 'Montserrat';
    color: silver;
    border: 1px solid lightgrey;
    font-size: 12px;
    border-radius: 8px;
}
p {
    font-size: 11px;
    font-family: 'Montserrat';
    margin-left:50px; 
}
ul {
    margin:0;
    padding: 0;
    list-style-type: none;
}
.error-msg{
    margin-top: 11px;
    font-size: 11px;
    font-family: 'Montserrat';
}
.link{
    color:#57068C;
}
.link-text{
    margin-top: 10px;
    margin-bottom: 10px;
}
.hr-lines:before{
    content:" ";
    display: block;
    height: 0.5px;
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50px;
    background: LightGray;
}
.hr-lines:after{
    content:" ";
    height: 0.5px;
    width: 30%;
    background: LightGray;
    display: block;
    position: absolute;
    top: 50%;
    right: 50px;
}
.hr-lines{
    position:relative;
    max-width: 100%;
    margin: 100px auto;
    text-align: center;
}
.textinput, .emailinput, .passwordinput{
    font-size: 11px;
    font-family: 'Montserrat';
}
.card-left{
    margin: auto; 
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 8px;
    position: relative;
    padding: 30px;
}
.set-profile{
    margin-top: 0; 
    background: white; 
    border-radius: 8px;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.25); 
    border-radius: 8px;
    margin-bottom: 4%;
}
.search{
    position: relative;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    width: 80%;
    min-height: 30%;
    padding: 50px;
    border-radius: 8px;
    margin-top:2%;
    margin-bottom: 2%;
    left:10%;
}
.cards{
    position: relative;
    display: flex;
    width: 80%;
    border-radius: 8px;
    left: 10%;
    font-family: 'Montserrat';
}
.card{
    border-radius: 8px;
}
#circle {
    width: 35 px;
    height: 35px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: black;
}
.navbar.navbar-expand-md{
    --bs-navbar-color:rgba(255,255,255,.75);
    --bs-navbar-hover-color: white; 
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 5px 0px 5px 0px; 
    --bs-navbar-nav-link-padding-x: 0.8rem; 
    font-family: 'Montserrat'; 
    font-size: 14px;
}
.list-group-item{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: unset;
    font-family: 'Montserrat';
    --bs-list-group-action-hover-bg: #17141f;
    --bs-list-group-action-active-bg: #17141f;
}
.newPost{
    position: relative;
    display: block;
    background-color: white;
    width: 80%;
    min-height: 30%;
    /* padding: 50px; */
    border-radius: 8px;
    margin-top:2%;
    margin-bottom: 2%;
    left:10%;
    font-family: 'Montserrat';
    height: 620px;
}
.textbook-detail-label{
    font-weight: 700;
    color: #ab82c5;
    padding-right: 30px;
}
.textbook-post{
    height:fit-content; 
    display:flex;
}
.textbook-details{
    position: relative; 
    width: 70%; 
    margin-left: 5%; 
    font-family: 'Montserrat'; 
    color: white;
}
.textbook-image{
    width: 30%;
}
@media only screen and (max-width: 767px) {
    .window {
        width: 60%;
    }
    .window-photo{
        display: none;
    }
    .window-form{
        left: 0%; 
        width: 100%;
        border-top-left-radius: 8px; 
        border-bottom-left-radius: 8px;
        padding-bottom: 50px;
    }
    .profile-section{
        display: inline-flex;
        height: 160px;
        flex-direction: column;
        align-items: flex-start;
        float: left;
        justify-content: center;
    }
    .profile-photo{
        margin-left: 20px;
        width: 40px;
        height: 40px;
    }
    .navbar-nav{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-content: flex-start;
    }
    .nav-item{
        align-self: flex-start;
    }
    
    #navbarColor02 > ul > li:not(:last-child){
        position: relative;
        left: 20px;
        padding: 10px 0px 10px 0px;
    }
    .nav-item.dropdown > div > a{
        position: relative;
        left: 70px;
        padding: 10px 0px 10px 0px;
    }
    .nav-item.dropdown > div{
        background-color: unset;
    }
    .dropdown-menu{
        --bs-dropdown-bg:  unset;
        /* --bs-dropdown-bg: black; */
        --bs-dropdown-link-hover-bg: unset;
        border: 0;
    }
    .card-left{
        width: 60%;
        margin-top: 3%;
        margin-bottom: 3%;
    } 
    .set-profile{
        width: 60%;
        margin: auto; 
        padding-bottom: 2%;
        margin-bottom: 10%;

    }
    .textbook-post{
        height: fit-content; 
        display: block;
    }
    .textbook-details{
        margin-top: 30px;
        margin-left: 0px; 
        width: 100%;
    }
    .textbook-image{
        width: 100%;
    }
}

@media only screen and (min-width: 767px){
    .window {
        width: 60%;
    }
    .window-photo{
        left: 0;
        width: 46%;
        height: -webkit-fill-available;
        background-color: rgba(0, 0, 0, 0.25);
        position: absolute;
    }
    .window-form{
        left: 50%; 
        width: 50%; 
        padding-bottom: 5%;
    }
    .card-left{
        margin-left: 10%;
        margin-top: 2%;
        margin-right: 2%;
        width: 23%;
        padding: 3%;
        box-sizing: border-box;
        float: left;
    }   
    .set-profile{
        margin-top: 2%;
        padding-bottom: 2%;
        box-sizing: border-box;
        width: 55%;
        margin-right: 10%;
        float: left;
    }
    #logout-dropdown{
        display: none;
    }
    #logout-icon{
        visibility: visible;
    }
}