{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/pulse/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">    
    </head>
    <body>
        <div class="topnav" id="myTopnav">
            <a href="/browse" class="logo-link"><img class="logo" src="{% static 'logo_white.png' %}" ></a>
        </div>
    {% block content %}{% endblock content %}
    {% block script %}{% endblock script %}
    <script>
        function openNav() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }

        }
    </script>
    </body>
</html>